# Big Data Analysis Project - Group Project FS2020
## University of Zurich
## 5th of June 2020

Jara Fuhrer, 15-702-889

Claudio Brasser,

Severin Siffert, 14-720-536

Andrea Giambonini, 

Elizabeth Oladipo,

## "The goal of the project is to apply the data science pipeline"

![title](doingDS.png)

# Data Collection / Acquisition

Our dataset comes from http://www.kave.cc/, where 15'000 hours of interaction data from Visual Studio was collected in almost 11 million events from voluntaries.
To see what kind of data is collected, you can look at the data schema here: http://www.kave.cc/feedbag/event-generation.
Our goal is to analyze the link between the probability of Unit tests or project builds succeeding in connection with how much time has passed since the last build/test run.

The data was originally available in individual json events, with great support for parsing with Java or C#. Since we have to work with python, we used Java to convert the relevant information into csv without cleaning the data first.

# Data Exploration

<i> what to write here?? </i>
- chapter 5: EDA
- try to answer basic questions:
    - who constructed data set, when, why? trying to see relations btw working behaviour of developer (edit events, time, run test and results of them) and his efficienty / performance / productivity / habits /...
- what do the field mean? 
    - lets describe here quickly the data sets and their fields - will also help us for understanding
- basic statistics, min, max, median, quartile elements
- pairwise correlations: matrix of correlation coefficients
- create dot plots of different variables --> spot shape of distribution, outliers

### Final Data Analysis Questions:
1) linking time since last (successful?) build to probability of build succeeding -- SEVERIN

2) linking time since last tests run to probability of tests passing -- ELIZABETH

3) linking number of edit events since last successful build to probability of build succeeding -- ANDREA

4) linking number of edit events since last passing tests to probability of unit tests passing -- JARA

In [8]:
import pandas as pd
import numpy as np
import math
from datetime import datetime
import matplotlib.pyplot as plt
from matplotlib.ticker import (MultipleLocator, FormatStrFormatter,
                               AutoMinorLocator)
from itertools import islice

In [10]:
df_edit = pd.read_csv("../data/df_edit.csv")
df_test = pd.read_csv("../data/df_test.csv")
df_build = pd.read_csv("../data/df_build.csv")

## TODO: Short description of the data frames & their columns

### Edit Events

In [28]:
df_edit.iloc[:,1:3]

                                   sessionID            timestamp
0                                          0  2016-10-04 14:36:01
1                                          0  2016-10-04 14:36:07
2                                          0  2016-10-04 14:36:49
3                                          0  2016-10-04 14:36:53
4                                          1  2016-10-04 14:37:03
...                                      ...                  ...
497454  ffcbdaa4-e264-45a3-bddb-6f2f0afeac2f  2016-04-20 15:13:48
497455  ffcbdaa4-e264-45a3-bddb-6f2f0afeac2f  2016-04-20 15:13:52
497456  ffcbdaa4-e264-45a3-bddb-6f2f0afeac2f  2016-04-20 15:13:58
497457  ffcbdaa4-e264-45a3-bddb-6f2f0afeac2f  2016-04-20 15:14:03
497458  ffcbdaa4-e264-45a3-bddb-6f2f0afeac2f  2016-04-20 15:14:07

[497459 rows x 2 columns]

In [22]:
df_edit["timestamp"].describe()

count                  497459
unique                 488049
top       2016-09-04 23:28:09
freq                        4
Name: timestamp, dtype: object

In [20]:
df_edit["sessionID"].describe()

count                                   497459
unique                                    2876
top       8d0ea603-57cd-4b1f-b3cf-ce39ec9203c7
freq                                     17006
Name: sessionID, dtype: object

### Test Events

In [30]:
df_test.iloc[:,1:5]

,sessionID,timestamp,totalTests,testsPassed
0,006eb9aa-33f1-4e9e-8e74-7c978b58ee4a,2016-05-03 09:32:16,33,33
1,03c83bf2-8938-4a8f-9f58-d52bf3b2eccd,2016-05-10 17:21:18,1,0
2,03c83bf2-8938-4a8f-9f58-d52bf3b2eccd,2016-05-10 17:21:54,26,26
3,03c83bf2-8938-4a8f-9f58-d52bf3b2eccd,2016-05-10 17:28:26,1,1
4,0504fbd1-cce2-4431-b4e2-edc63eea1c6d,2016-07-13 20:24:46,21,21
...,...,...,...,...
3821,ffc444d0-8382-4e52-9f04-3c42601ec739,2016-06-14 14:57:23,1,0
3822,ffc444d0-8382-4e52-9f04-3c42601ec739,2016-06-14 15:04:16,1,0
3823,ffc444d0-8382-4e52-9f04-3c42601ec739,2016-06-14 15:05:03,1,0
3824,ffc444d0-8382-4e52-9f04-3c42601ec739,2016-06-14 15:23:52,1,1
3825,ffc444d0-8382-4e52-9f04-3c42601ec739,2016-06-14 15:24:12,2,2

In [31]:
df_test.describe()

        Unnamed: 0   totalTests  testsPassed
count  3826.000000  3826.000000  3826.000000
mean   1912.500000    88.780972    76.577627
std    1104.615393   430.785770   392.217908
min       0.000000    -1.000000    -1.000000
25%     956.250000     1.000000     0.000000
50%    1912.500000     3.000000     1.000000
75%    2868.750000    21.000000    15.000000
max    3825.000000  6618.000000  6090.000000

### Build Events

In [33]:
df_build.iloc[:,1:4]

,sessionID,timestamp,buildSuccessful
0,0,2016-10-04 14:35:55,False
1,0,2016-10-04 14:36:07,False
2,0,2016-10-04 14:36:50,False
3,0,2016-10-04 14:36:53,False
4,1,2016-10-04 14:37:03,True
...,...,...,...
14952,ffc444d0-8382-4e52-9f04-3c42601ec739,2016-06-14 15:04:17,True
14953,ffc444d0-8382-4e52-9f04-3c42601ec739,2016-06-14 15:05:05,True
14954,ffc444d0-8382-4e52-9f04-3c42601ec739,2016-06-14 15:23:53,True
14955,ffc444d0-8382-4e52-9f04-3c42601ec739,2016-06-14 15:24:13,True
14956,ffcbdaa4-e264-45a3-bddb-6f2f0afeac2f,2016-04-20 15:13:15,True

In [34]:
df_build.describe()

         Unnamed: 0
count  14957.000000
mean    7478.000000
std     4317.858323
min        0.000000
25%     3739.000000
50%     7478.000000
75%    11217.000000
max    14956.000000

# Data Preprocessing / Cleaning

<i> --> TODO Claudio </i>

# Model / Algorithm Building

- chapter 6
- we should agree on some basics
- fit model with optimization methods?
- linear vs non-linear, blackbox vs descriptive, first principle vs data driven, stochastic vs deterministic, flat vs hierarchical
- model evaluation: trianign data set, validation data set, test data set
- classifiers, value prediction, absolute / relative / squared error, baseline models?

# Data Visualization

- we should agree on some basic design / plots such that we have a consistent viz