In [52]:
import pandas as pd
import numpy as np
import os

# import cleaned data

In [53]:
MAX_SESSION_DURATION = 1
id_counter = 0

# parsing timestamps into python timestamps
def parse_timestamp(time):
    if type(time) is str:
        time = time.split('.')[0]
        return pd.Timestamp(time)

# Converting test passed/total to integer as it has to be a integer value.
# nan values are converted to -1, this is subject to change (we might just delete them?)
def to_int(value):
    try:
        return int(value)
    except:
        return -1

def clean_build_events():
    df = import_data('../data/','buildEvents.csv')
    df['timestamp'] = df['timestamp'].apply(parse_timestamp)
    
    # dict = build_dictionary(df)
    return df

def clean_edit_events():
    df = import_data('../data/','editEvents.csv')
    df['timestamp'] = df['timestamp'].apply(parse_timestamp)
    return df

    

def clean_test_events():
    df = import_data('../data/','testEvents.csv')
    df['timestamp'] = df['timestamp'].apply(parse_timestamp)

    df['totalTests'] = df['totalTests'].apply(to_int)
    df['testsPassed'] = df['testsPassed'].apply(to_int)
    return df

    
def build_dictionary(df):
    dict = {}
    for index, row in df.iterrows():
        #check if session id is registered
        if row['sessionID'] in dict:
            dict[row['sessionID']].append(row[1:])
        else:
            dict[row['sessionID']] = []
    return dict

def generate_id():
    global id_counter
    old_id = id_counter
    id_counter +=1
    return old_id

def select_and_merge(df1, df2, df3):
    return pd.concat([df1[['sessionID', 'timestamp']], df2[['sessionID', 'timestamp']], df3[['sessionID', 'timestamp']]])

def update_id(dfs, id, timestamp, new_id):
    for df in dfs:
        print(f'updating df')
        print(f'row: {df.loc[(df["sessionID"] == id) & (df["timestamp"] == timestamp), "sessionID"]}' )
        df.loc[(df['sessionID'] == id) & (df['timestamp'] == timestamp), 'sessionID'] = new_id
        print(f'row: {df.loc[(df["sessionID"] == new_id) & (df["timestamp"] == timestamp), "sessionID"]}' )


    return (dfs[0], dfs[1], dfs[2])

# todo: figure out splitting logic
def split_long_sessions(df1, df2, df3):
    df = select_and_merge(df1, df2, df3)
    df = df.sort_values(by=['sessionID', 'timestamp'])
    print(df.head())
    # initial id of each session
    initial_id = df['sessionID'].iloc(0)
    # start of each session
    session_start = df['timestamp'].iloc(0)
    new_id = None
    is_split = False
    test_index = 0
    for index, row in df.iterrows():
        if test_index > 10:
            return (df1, df2, df3)
        test_index += 1

        # true as long as we are considering rows that originate from the same session
        if row['sessionID'] == initial_id:
            # check if we have previously split up this session
            if is_split:
                df1, df2, df3 = update_id([df1, df2, df3], row['sessionID'], row['timestamp'], new_id)
                row['sessionID'] = new_id
                df.loc[index, 'sessionID'] = new_id
                
            difference = (row['timestamp'] - session_start).seconds / 60
            if difference >= MAX_SESSION_DURATION:
                
                is_split = True
                new_id = generate_id()
                df1, df2, df3 = update_id([df1, df2, df3], row['sessionID'], row['timestamp'], new_id)
                df.loc[index, 'sessionID'] = new_id

                session_start = row['timestamp']
        # completely new session
        else:
            initial_id = row['sessionID']
            session_start = row['timestamp']
            new_id = None
            is_split = False
    
    return (df1, df2, df3)





def import_data(path, filename):
    return pd.read_csv(os.path.join(path, filename))
    
    
df_build = clean_build_events()
df_edit = clean_edit_events()
df_test = clean_test_events()
# print(df.head(10))
df_build, df_edit, df_test = split_long_sessions(df_build, df_edit, df_test)
df_build = df_build.sort_values(by=['sessionID', 'timestamp'])
df_edit = df_edit.sort_values(by=['sessionID', 'timestamp'])
df_test = df_test.sort_values(by=['sessionID', 'timestamp'])

                                   sessionID           timestamp
474138  0001efd9-3849-481a-86bd-afd47037efb9 2016-10-04 14:34:41
474139  0001efd9-3849-481a-86bd-afd47037efb9 2016-10-04 14:35:21
14061   0001efd9-3849-481a-86bd-afd47037efb9 2016-10-04 14:35:55
474140  0001efd9-3849-481a-86bd-afd47037efb9 2016-10-04 14:36:01
14062   0001efd9-3849-481a-86bd-afd47037efb9 2016-10-04 14:36:07
updating df
row: 14061    0001efd9-3849-481a-86bd-afd47037efb9
Name: sessionID, dtype: object
row: 14061    0
Name: sessionID, dtype: object
updating df
row: Series([], Name: sessionID, dtype: object)
row: Series([], Name: sessionID, dtype: object)
updating df
row: Series([], Name: sessionID, dtype: object)
row: Series([], Name: sessionID, dtype: object)
updating df
row: Series([], Name: sessionID, dtype: object)
row: Series([], Name: sessionID, dtype: object)
updating df
row: 474140    0001efd9-3849-481a-86bd-afd47037efb9
Name: sessionID, dtype: object
row: 474140    0
Name: sessionID, dtype: object
updating df
row: Series([], Name: sessionID, dtype: object)
row: Series([], Name: sessionID, dtype: object)
updating df
row: 14062    0001efd9-3849-481a-86bd-afd47037efb9
Name: sessionID, dtype: object
row: 14062    0
Name: sessionID, dtype: object
updating df
row: 474141    0001efd9-3849-481a-86bd-afd47037efb9
Name: sessionID, dtype: object
row: 474141    0
Name: sessionID, dtype: object
updating df
row: Series([], Name: sessionID, dtype: object)
row: Series([], Name: sessionID, dtype: object)
updating df
row: Series([], Name: sessionID, dtype: object)
row: 14062    0
Name: sessionID, dtype: object
updating df
row: Series([], Name: sessionID, dtype: object)
row: 474141    0
Name: sessionID, dtype: object
updating df
row: Series([], Name: sessionID, dtype: object)
row: Series([], Name: sessionID, dtype: object)
updating df
row: Series([], Name: sessionID, dtype: object)
row: Series([], Name: sessionID, dtype: object)
updating df
row: 474142    0001efd9-3849-481a-86bd-afd47037efb9
Name: sessionID, dtype: object
row: 474142    0
Name: sessionID, dtype: object
updating df
row: Series([], Name: sessionID, dtype: object)
row: Series([], Name: sessionID, dtype: object)
updating df
row: 14063    0001efd9-3849-481a-86bd-afd47037efb9
Name: sessionID, dtype: object
row: 14063    0
Name: sessionID, dtype: object
updating df
row: Series([], Name: sessionID, dtype: object)
row: Series([], Name: sessionID, dtype: object)
updating df
row: Series([], Name: sessionID, dtype: object)
row: Series([], Name: sessionID, dtype: object)
updating df
row: 14064    0001efd9-3849-481a-86bd-afd47037efb9
Name: sessionID, dtype: object
row: 14064    0
Name: sessionID, dtype: object
updating df
row: 474143    0001efd9-3849-481a-86bd-afd47037efb9
Name: sessionID, dtype: object
row: 474143    0
Name: sessionID, dtype: object
updating df
row: Series([], Name: sessionID, dtype: object)
row: Series([], Name: sessionID, dtype: object)
updating df
row: Series([], Name: sessionID, dtype: object)
row: 14064    0
Name: sessionID, dtype: object
updating df
row: Series([], Name: sessionID, dtype: object)
row: 474143    0
Name: sessionID, dtype: object
updating df
row: Series([], Name: sessionID, dtype: object)
row: Series([], Name: sessionID, dtype: object)
updating df
row: 14065    0001efd9-3849-481a-86bd-afd47037efb9
Name: sessionID, dtype: object
row: 14065    0
Name: sessionID, dtype: object
updating df
row: 474144    0001efd9-3849-481a-86bd-afd47037efb9
Name: sessionID, dtype: object
row: 474144    0
Name: sessionID, dtype: object
updating df
row: Series([], Name: sessionID, dtype: object)
row: Series([], Name: sessionID, dtype: object)
updating df
row: 14065    0
Name: sessionID, dtype: object
row: 14065    1
Name: sessionID, dtype: object
updating df
row: 474144    0
Name: sessionID, dtype: object
row: 474144    1
Name: sessionID, dtype: object
updating df
row: Series([], Name: sessionID, dtype: object)
row: Series([], Name: sessionID, dtype: object)

In [54]:
df_build.describe()

,sessionID,timestamp,buildSuccessful
count,14957,14956,14956
unique,1531,14877,2
top,26f3dadd-c2e3-414b-8c92-78df1dc356c8,2016-07-17 12:14:35,True
freq,154,2,12889
first,NaN,2016-03-20 12:33:59,NaN
last,NaN,2017-02-23 22:03:36,NaN

In [55]:
#we can easily ignore sessions that don't contain build events since we only care about build events
sessionIDs = df_build.sessionID.unique()
sessionIDs

array([0, 1, '0001efd9-3849-481a-86bd-afd47037efb9', ...,
       'ffb030c9-c0ff-42bd-9e04-6c4b44f5ab79',
       'ffc444d0-8382-4e52-9f04-3c42601ec739',
       'ffcbdaa4-e264-45a3-bddb-6f2f0afeac2f'], dtype=object)

# create dataset

here we build our dataset for the analysis:
* find the session beginnings
* collect time between last build (or session beginning) and next build

### find session beginnings
it's ok to just look at the editEvents because a) it's unlikely that a build happened before an edit and b) if a build happened before the first edit, it's success does not depend on this session anyways

In [56]:
grouped = df_edit.groupby(['sessionID'])
sessionStarts = grouped.agg({'timestamp':np.min}).to_dict()
sessionStarts['timestamp']['0001efd9-3849-481a-86bd-afd47037efb9']

Timestamp('2016-10-04 14:34:41')

In [63]:
#build events are ordered by session id and timestamp
previous = {'sessionID': 'nonexistent-atsirtsakitaiea'}
time_to_build = []
for _, event in df_build.iterrows():
    try:
        if previous['sessionID'] == event['sessionID']:
            begin = previous['timestamp']
        else:
            begin = sessionStarts['timestamp'][event['sessionID']]
        end = event['timestamp']
        duration = pd.Timedelta(end-begin).seconds
        time_to_build.append((duration,event['buildSuccessful']))
    except Exception:
        #nothing
        ;
    previous = event
time_to_build

8000
12000
13000
14000
1000
3000
5000
10000
11000
0
4000
2000
9000
7000
6000

[(86394, False),
 (12, False),
 (43, False),
 (3, False),
 (0, True),
 (146, False),
 (520, True),
 (3331, True),
 (2154, True),
 (572, True),
 (1795, True),
 (216, True),
 (50, True),
 (1154, True),
 (1683, True),
 (1493, True),
 (188, True),
 (451, True),
 (204, True),
 (114, True),
 (310, True),
 (146, True),
 (51, True),
 (265, False),
 (137, False),
 (116, False),
 (119, False),
 (52, True),
 (176, True),
 (94, True),
 (42, True),
 (194, True),
 (170, True),
 (38, True),
 (90, False),
 (37, True),
 (90, True),
 (196, True),
 (93, True),
 (82, True),
 (138, True),
 (405, True),
 (70, True),
 (412, True),
 (289, True),
 (26, True),
 (2711, True),
 (544, False),
 (50, False),
 (100, True),
 (19, True),
 (114, False),
 (24, False),
 (27, False),
 (57, False),
 (61, False),
 (8, False),
 (8, False),
 (74, False),
 (301, True),
 (81287, True),
 (9707, False),
 (20, True),
 (30, True),
 (79399, True),
 (42, True),
 (15, True),
 (10, True),
 (35, True),
 (11, True),
 (4056, True),
 (524, True),
 (664, True),
 (52, True),
 (11, True),
 (26, True),
 (214, True),
 (39, True),
 (46, True),
 (12, True),
 (71, True),
 (40, True),
 (16, True),
 (49, True),
 (17, True),
 (71, True),
 (27, True),
 (23, True),
 (14, True),
 (86, True),
 (3, True),
 (4, True),
 (219, True),
 (18, True),
 (26, True),
 (580, True),
 (42, True),
 (78, True),
 (2066, True),
 (62, True),
 (75, True),
 (77048, False),
 (122, False),
 (18, False),
 (7, True),
 (90, True),
 (1440, True),
 (9, True),
 (30, True),
 (16, True),
 (55, True),
 (6, True),
 (58, True),
 (83, True),
 (26, True),
 (10, True),
 (12, True),
 (18192, True),
 (30, True),
 (11, True),
 (55, True),
 (10, True),
 (6, True),
 (20, True),
 (8, True),
 (16, True),
 (7, True),
 (9, True),
 (2277, True),
 (255, True),
 (54, True),
 (7490, False),
 (18, False),
 (10, True),
 (62, True),
 (25, True),
 (590, True),
 (86398, True),
 (194, True),
 (176, True),
 (86, True),
 (724, True),
 (50, True),
 (167, True),
 (283, True),
 (114, True),
 (1225, True),
 (61, True),
 (46, True),
 (22, True),
 (22, True),
 (102, True),
 (500, True),
 (172, True),
 (90, True),
 (688, True),
 (153, True),
 (157, True),
 (164, True),
 (49, True),
 (282, True),
 (64, True),
 (721, True),
 (269, True),
 (171, True),
 (271, True),
 (827, True),
 (55, True),
 (88, True),
 (1646, True),
 (23, True),
 (62, True),
 (736, True),
 (388, True),
 (300, True),
 (271, True),
 (793, True),
 (402, True),
 (191, True),
 (250, True),
 (113, True),
 (475, True),
 (79, True),
 (239, True),
 (722, True),
 (58, True),
 (209, True),
 (2356, True),
 (72, True),
 (692, True),
 (27, True),
 (64, True),
 (51, True),
 (208, True),
 (782, True),
 (66, True),
 (106, True),
 (122, True),
 (5331, True),
 (1460, True),
 (175, True),
 (210, True),
 (91, True),
 (44, True),
 (76, True),
 (15, True),
 (28, True),
 (460, True),
 (17, True),
 (151, True),
 (3787, False),
 (33, True),
 (83, True),
 (86398, True),
 (161, True),
 (3086, True),
 (23, True),
 (306, True),
 (8, True),
 (2810, True),
 (8, True),
 (18, True),
 (7, True),
 (665, True),
 (7, True),
 (3700, False),
 (147, False),
 (38, False),
 (137, True),
 (3234, True),
 (1611, True),
 (129, True),
 (7538, False),
 (52, True),
 (66, True),
 (41, True),
 (254, True),
 (508, True),
 (195, True),
 (523, True),
 (218, False),
 (3, False),
 (8, False),
 (20, True),
 (8, True),
 (35, True),
 (62, True),
 (43, True),
 (81, True),
 (73, True),
 (42, True),
 (52, True),
 (39, True),
 (6, True),
 (79, True),
 (7, True),
 (38, True),
 (429, False),
 (51, False),
 (23, True),
 (141, True),
 (351, True),
 (2508, False),
 (109, True),
 (501, True),
 (81, True),
 (149, True),
 (961, True),
 (2127, True),
 (76, True),
 (218, True),
 (264, True),
 (142, True),
 (426, True),
 (29, True),
 (1790, True),
 (2671, True),
 (5204, True),
 (2070, True),
 (4388, True),
 (227, True),
 (2959, True),
 (86399, True),
 (4467, True),
 (141, True),
 (562, True),
 (66, True),
 (299, True),
 (63, True),
 (60, True),
 (298, True),
 (136, True),
 (348, True),
 (114, True),
 (123, True),
 (172, True),
 (133, True),
 (176, True),
 (401, True),
 (164, True),
 (3760, True),
 (2163, False),
 (38, True),
 (24, True),
 (526, True),
 (253, True),
 (57, True),
 (304, True),
 (117, True),
 (92, True),
 (119, True),
 (274, True),
 (113, True),
 (168, True),
 (86, True),
 (68, True),
 (65447, True),
 (3075, True),
 (5097, True),
 (92, True),
 (1070, True),
 (307, True),
 (312, True),
 (2712, True),
 (101, True),
 (168, True),
 (231, True),
 (1470, True),
 (394, True),
 (84, True),
 (255, True),
 (199, True),
 (254, True),
 (49, True),
 (221, True),
 (758, True),
 (370, True),
 (652, True),
 (761, True),
 (167, True),
 (122, True),
 (74, True),
 (40900, False),
 (28, True),
 (2677, False),
 (19, True),
 (725, False),
 (240, False),
 (3004, True),
 (20, True),
 (122, True),
 (86, False),
 (82, False),
 (130, True),
 (561, False),
 (14, False),
 (17, False),
 (86399, False),
 (31, False),
 (19, True),
 (831, True),
 (72, True),
 (66, True),
 (2348, True),
 (83, True),
 (454, True),
 (254, True),
 (826, False),
 (33, False),
 (12057, True),
 (86399, True),
 (209, True),
 (63, True),
 (57, True),
 (107, True),
 (112, True),
 (202, True),
 (127, True),
 (77, True),
 (478, True),
 (4326, True),
 (32, True),
 (2531, True),
 (0, True),
 (140, True),
 (769, True),
 (2607, True),
 (224, True),
 (221, True),
 (6297, True),
 (28, True),
 (224, True),
 (309, True),
 (53, True),
 (229, True),
 (1454, True),
 (228, True),
 (1077, True),
 (795, True),
 (569, True),
 (152, True),
 (180, True),
 (444, True),
 (138, True),
 (14827, True),
 (2092, True),
 (26, True),
 (114, True),
 (3505, True),
 (14, True),
 (93, True),
 (19, True),
 (90, True),
 (90, True),
 (59, True),
 (145, True),
 (70, True),
 (16, True),
 (7, True),
 (29, True),
 (58, True),
 (57, True),
 (84, True),
 (298, True),
 (66, True),
 (10, True),
 (532, True),
 (86399, True),
 (3474, True),
 (1317, True),
 (494, True),
 (2455, True),
 (181, True),
 (3456, True),
 (121, True),
 (1824, False),
 (60, True),
 (3140, True),
 (206, True),
 (2348, True),
 (269, True),
 (743, True),
 (72, True),
 (91, True),
 (126, True),
 (141, True),
 (323, True),
 (156, True),
 (208, True),
 (168, True),
 (216, True),
 (325, True),
 (277, True),
 (190, True),
 (68, True),
 (517, True),
 (348, True),
 (49, False),
 (247, False),
 (26, False),
 (17, False),
 (19, False),
 (87, True),
 (54, True),
 (25, True),
 (8, True),
 (71, True),
 (0, True),
 (3, True),
 (17, True),
 (2, True),
 (0, True),
 (437, True),
 (139, True),
 (1547, True),
 (317, True),
 (74, True),
 (61, True),
 (595, True),
 (1167, True),
 (125, True),
 (457, True),
 (1266, True),
 (336, True),
 (32, True),
 (150, True),
 (146, True),
 (623, True),
 (13, True),
 (134, False),
 (12, True),
 (1290, True),
 (545, True),
 (173, True),
 (64, True),
 (169, True),
 (1135, True),
 (84, True),
 (367, True),
 (640, True),
 (2059, True),
 (6112, True),
 (873, True),
 (298, True),
 (43, True),
 (3049, True),
 (7071, True),
 (38, True),
 (59, True),
 (2, True),
 (95, True),
 (214, True),
 (101, True),
 (278, True),
 (68, True),
 (60, True),
 (204, True),
 (64, True),
 (78, True),
 (1572, True),
 (9648, True),
 (4261, True),
 (22, True),
 (30, True),
 (472, True),
 (960, True),
 (30, True),
 (55, True),
 (63, True),
 (1876, True),
 (258, True),
 (253, True),
 (297, True),
 (3588, True),
 (73, True),
 (658, True),
 (28, True),
 (26, True),
 (111, True),
 (57, True),
 (212, True),
 (92, True),
 (73, True),
 (50, True),
 (69, True),
 (36, True),
 (930, True),
 (285, True),
 (325, True),
 (67, True),
 (49, True),
 (750, True),
 (193, True),
 (2880, False),
 (31, False),
 (310, True),
 (33, False),
 (61, False),
 (79, True),
 (12, False),
 (683, True),
 (19, False),
 (89, False),
 (4, False),
 (216, False),
 (52, False),
 (242, False),
 (217, False),
 (48, False),
 (268, True),
 (133, True),
 (56, True),
 (533, True),
 (28, True),
 (91, True),
 (23, False),
 (33, False),
 (34, False),
 (12, False),
 (14, False),
 (28, False),
 (46, False),
 (48, False),
 (28, False),
 (7, True),
 (8, True),
 (40, True),
 (86, True),
 (10, True),
 (104, True),
 (6, True),
 (42, True),
 (35, True),
 (6, True),
 (27, True),
 (13, True),
 (143, True),
 (131, True),
 (171, True),
 (20, True),
 (15, True),
 (17, True),
 (13, True),
 (14, True),
 (14, True),
 (96, True),
 (23, True),
 (26, True),
 (195, True),
 (19, True),
 (33, True),
 (22, True),
 (34, True),
 (85, True),
 (139, True),
 (2886, False),
 (31, False),
 (13, True),
 (152, True),
 (8, True),
 (7, True),
 (57, True),
 (108, True),
 (21, True),
 (179, True),
 (35, True),
 (297, True),
 (42, True),
 (1648, True),
 (212, True),
 (30, True),
 (24, True),
 (24, True),
 (11, True),
 (16, True),
 (288, True),
 (236, True),
 (382, False),
 (11, True),
 (354, True),
 (48, True),
 (31, True),
 (5949, True),
 (151, True),
 (37, True),
 (45, True),
 (14, True),
 (46, True),
 (19, True),
 (52, True),
 (212, True),
 (26, True),
 (14, True),
 (23, True),
 (17, True),
 (12, True),
 (33, True),
 (267, True),
 (67, True),
 (158, True),
 (44, True),
 (105, True),
 (1094, True),
 (35413, False),
 (60, True),
 (246, True),
 (25, False),
 (39, False),
 (13, True),
 (88, True),
 (12, True),
 (134, True),
 (237, True),
 (30, True),
 (947, True),
 (82, True),
 (1771, False),
 (66, False),
 (100, False),
 (208, False),
 (149, False),
 (20, True),
 (946, True),
 (1032, True),
 (317, True),
 (522, True),
 (834, True),
 (1323, True),
 (209, True),
 (379, True),
 (198, True),
 (397, False),
 (33, True),
 (243, True),
 (653, True),
 (757, True),
 (234, True),
 (163, True),
 (950, True),
 (4954, True),
 (10977, True),
 (77, True),
 (1129, True),
 (4805, True),
 (896, True),
 (8376, False),
 (573, False),
 (0, True),
 (373, True),
 (60, True),
 (1303, True),
 (4019, True),
 (4840, True),
 (458, True),
 (2597, True),
 (1372, True),
 (3728, True),
 (760, True),
 (722, True),
 (118, True),
 (1580, True),
 (4481, True),
 (122, True),
 (81, True),
 (46, True),
 (45, True),
 (15, True),
 (20, True),
 (9, True),
 (5, True),
 (109, True),
 (3232, True),
 (356, True),
 (68829, True),
 (126, False),
 (803, True),
 (626, False),
 (121, False),
 (59, False),
 (16, True),
 (5790, True),
 (861, True),
 (310, True),
 (284, True),
 (39, True),
 (573, True),
 (93, True),
 (110, True),
 (71, True),
 (11, True),
 (180, True),
 (44, False),
 (796, True),
 (97, True),
 (1068, True),
 (4060, True),
 (807, True),
 (86, True),
 (678, True),
 (83, True),
 (100, True),
 (300, True),
 (3208, True),
 (191, True),
 (154, True),
 (61, True),
 (52, True),
 (143, True),
 (4136, True),
 (1617, False),
 (329, False),
 (115, False),
 (107, False),
 (42, False),
 (147, True),
 (0, False),
 (20, False),
 (300, False),
 (82, False),
 (176, False),
 (3240, True),
 (60675, True),
 (2941, True),
 (113, True),
 (78, True),
 (101, True),
 (6, True),
 (218, True),
 (7, True),
 (132, True),
 (8, True),
 (3295, True),
 (7, True),
 (12420, True),
 (63, True),
 (878, True),
 (8, True),
 (197, True),
 (34, True),
 (68257, True),
 (86, True),
 (102, True),
 (4, True),
 (3606, True),
 (10, True),
 (153, True),
 (18, True),
 (186, True),
 (20, True),
 (97, True),
 (37, True),
 (45, True),
 (7, True),
 (202, True),
 (12, True),
 (29, True),
 (158, True),
 (34, True),
 (29, True),
 (589, True),
 (5, True),
 (165, True),
 (100, True),
 (1186, True),
 (7927, True),
 (79538, True),
 (35, True),
 (74, True),
 (10, True),
 (229, True),
 (17, True),
 (2550, True),
 (175, True),
 (888, True),
 (10, True),
 (172, True),
 (86399, True),
 (592, True),
 (237, False),
 (227, False),
 (50, True),
 (561, False),
 (307, True),
 (250, True),
 (453, True),
 (309, True),
 (153, True),
 (235, False),
 (2, False),
 (52, False),
 (39, False),
 (27, True),
 (2, True),
 (38, True),
 (105, True),
 (2505, True),
 (100, True),
 (1385, True),
 (168, True),
 (102, True),
 (5, True),
 (53, True),
 (236, True),
 (32, True),
 (270, True),
 (59, True),
 (82, True),
 (5, True),
 (155, True),
 (123, True),
 (117, True),
 (218, True),
 (19, True),
 (114, True),
 (633, False),
 (66, False),
 (28, False),
 (89, False),
 (51, True),
 (4, True),
 (102, True),
 (269, True),
 (455, True),
 (64270, False),
 (36, True),
 (131, True),
 (1703, True),
 (2390, True),
 (77276, True),
 (17661, True),
 (186, True),
 (8896, True),
 (16145, True),
 (68, True),
 (4795, True),
 (50, True),
 (70, True),
 (341, True),
 (36, True),
 (825, True),
 (157, True),
 (96, True),
 (271, True),
 (1147, True),
 (63, True),
 (17, True),
 (272, True),
 (749, True),
 (975, True),
 (70, True),
 (107, True),
 (73, True),
 (117, True),
 (159, True),
 (79, True),
 (65, True),
 (58, True),
 (147, True),
 (62, True),
 (43, True),
 (25, True),
 (68, True),
 (43, True),
 (65, True),
 (122, True),
 (42, True),
 (568, True),
 (182, True),
 (2878, True),
 (526, True),
 (2223, True),
 (428, True),
 (198, True),
 (167, True),
 (121, True),
 (306, True),
 (206, True),
 (624, False),
 (1061, True),
 (354, True),
 (741, True),
 (508, True),
 (361, True),
 (32, True),
 (27, False),
 (8, False),
 (13, False),
 (6, True),
 (35, True),
 (36, True),
 (6, True),
 (88, True),
 (28, True),
 (35, True),
 (66, True),
 (7, True),
 (38, True),
 (14, True),
 (40, True),
 (68, True),
 (135, False),
 (126, True),
 (2, True),
 (206, True),
 (5, True),
 (86399, True),
 (22, True),
 (99, True),
 (338, True),
 (630, True),
 (1498, True),
 (490, True),
 (308, True),
 (52, True),
 (297, True),
 (29, True),
 (2223, True),
 (20583, False),
 (2062, True),
 (21, True),
 (35, True),
 (1022, True),
 (1468, True),
 (5294, True),
 (215, True),
 (86, True),
 (157, True),
 (181, True),
 (818, True),
 (264, True),
 (182, True),
 (118, True),
 (132, True),
 (328, True),
 (473, True),
 (795, True),
 (293, True),
 (330, True),
 (269, True),
 (202, True),
 ...]