In [1]:
import pandas as pd
import numpy as np

# import cleaned data

In [8]:
buildEvents = pd.read_csv("../data/buildEvents.csv")
testEvents = pd.read_csv("../data/testEvents.csv")
testEvents

,sessionID,timestamp,totalTests,testsPassed
0,f23af4c6-66b5-4d9f-b6e0-83de319b70c5,2016-07-08T20:06:38.106260500+02:00,1.0,1.0
1,9729b737-8fb0-461e-8694-390548199f57,2016-07-08T20:20:50.467281800+02:00,1.0,0.0
2,9729b737-8fb0-461e-8694-390548199f57,2016-07-08T20:21:53.299535400+02:00,1.0,1.0
3,9729b737-8fb0-461e-8694-390548199f57,2016-07-08T20:22:32.119347400+02:00,1.0,1.0
4,9729b737-8fb0-461e-8694-390548199f57,2016-07-08T20:22:36.453524900+02:00,1.0,1.0
...,...,...,...,...
3821,71b93f98-80d0-467f-a46d-c09f1537b9e5,2016-09-29T17:29:10.854433700+01:00,1.0,1.0
3822,c1f1553c-cbb0-4191-bb6f-2a1c5fb6ee59,2016-11-10T11:51:28.491593500Z,438.0,435.0
3823,a561c236-6230-4d85-84c5-4482afd28c62,2016-11-11T15:41:10.602372900Z,15.0,15.0
3824,82134dfd-0a6c-4b23-a39f-ba46d7dee23b,2016-11-22T14:48:46.561616600Z,31.0,0.0
3825,f5decb96-f8e5-4f,NaN,NaN,NaN

In [10]:
buildEvents.describe()

,sessionID,timestamp,buildSuccessful
count,14957,14956,14956
unique,1529,14933,2
top,26f3dadd-c2e3-414b-8c92-78df1dc356c8,2016-12-16T10:12:20.450733900+01:00,True
freq,154,2,12889

In [12]:
#we can easily ignore sessions that don't contain build events since we only care about build events
sessionIDs = buildEvents.sessionID.unique()
sessionIDs

array(['8d22b7b4-58c5-4101-b754-d3fa842ba62d',
       'ac705dcb-0848-4448-847d-70f0f8f0315a',
       'f23af4c6-66b5-4d9f-b6e0-83de319b70c5', ...,
       'a76afa6d-3bb9-4021-b306-9809dd3e2fcc',
       '8f7f9b34-3b83-4266-8c02-1ebe349a46ac', '8f7'], dtype=object)

# create dataset

here we build our dataset:
* find the session beginnings
* collect time between last build (or session beginning) and next build

### find session beginnings
it's ok to just look at the editEvents because a) it's unlikely that a build happened before an edit and b) if a build happened before the first edit, it's success does not depend on this session anyways

In [16]:
grouped = editEvents.groupby(['sessionID'])
sessionStarts = grouped.agg({'timestamp':np.min})
sessionStarts

                                                                timestamp
sessionID
0001efd9-3849-481a-86bd-afd47037efb9  2016-10-04T14:34:41.934316100+01:00
000607ef-1083-41be-87ad-e8165173aff9  2016-12-18T20:49:38.768496700-05:00
000a3e9f-46d4-4bc8-99de-f4578aa6b2a8  2016-07-13T15:32:23.036321500+02:00
000a9f70-c246-4116-bd32-82331977551f  2017-02-02T15:09:17.211022400-08:00
000d269c-fd9b-4629-8ccf-b2060c819b36  2016-06-29T09:10:30.551680500+02:00
...                                                                   ...
ff816b40-f797-4065-a6ef-94abb564e92c     2016-12-20T12:35:39.141467+02:00
ff9890a9-60d7-41f5-a655-95527ee6f4b7       2016-11-21T14:07:47.266873600Z
ffb030c9-c0ff-42bd-9e04-6c4b44f5ab79  2016-05-10T16:13:38.384991400+02:00
ffc444d0-8382-4e52-9f04-3c42601ec739  2016-06-14T14:29:58.556905800-04:00
ffcbdaa4-e264-45a3-bddb-6f2f0afeac2f  2016-04-20T14:47:53.764423400+02:00

[2874 rows x 1 columns]